{
	"extends": ["react-app"],
	"rules": {
		"react/self-closing-comp": "error",
		"camelcase": [
			2,
			{
				"properties": "always"
			}
		],
		"react/jsx-sort-props": [
			2,
			{
				"reservedFirst": true,
				"shorthandLast": true,
				"callbacksLast": true,
				"noSortAlphabetically": true
			}
		],
		"max-lines": ["error", { "max": 120, "skipComments": true, "skipBlankLines": true }],
		"no-unneeded-ternary": ["error", { "defaultAssignment": false }],
		"react/prefer-stateless-function": [2, { "ignorePureComponents": false }]
	}
}
